$color-primary: rgba(170, 0, 85, 0.856);
$color-secondary: rgba(255, 166, 0, 0.788);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: consolas;

  @media only screen and (max-width: 1000px) {
    font-size: 57%;
  }
  @media only screen and (max-width: 900px) {
    font-size: 52%;
  }
  @media only screen and (max-width: 550px) {
    font-size: 46%;
  }
  @media only screen and (max-width: 400px) {
    font-size: 42%;
  }
  @media only screen and (min-width: 1500px) {
    font-size: 70%;
  }
}

body {
  min-height: 100vh;
  width: 100vw;
  padding: 4rem 8rem;
  background-image: linear-gradient(
    155deg,
    $color-secondary 20%,
    $color-primary 10%,
    //blue 340%
  );
  position: relative;

  @media only screen and (min-width: 1500px) {
    padding: 4rem 14rem;
  }
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.logo {
  float: left;
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  word-spacing: -1rem;

  span {
    color: $color-primary;
  }
}

.content {
  position: absolute;
  top: 40%;
  color: #fff;
  width: 40%;

  @media only screen and (max-width: 850px) {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
  }

  &__heading {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: -1.4rem;

    span {
      color: $color-secondary;
    }
  }

  &__narration {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 2.5rem;
  }

  &__btn {
    display: inline-block;
    text-decoration: none;
    padding: 1.2rem 2.2rem;
    color: #fff;
    font-size: 2rem;
    background-color: $color-secondary;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);

      @media only screen and (max-width: 850px) {
        transform: translateY(33rem) scale(1.05);
      }
    }

    &:active {
      transform: scale(0.5);

      @media only screen and (max-width: 850px) {
        transform: translateY(33rem) scale(0.5);
      }
    }

    @media only screen and (max-width: 850px) {
      transform: translateY(33rem);
    }
  }
}

.navigation {
  float: right;
  list-style: none;
  position: relative;

  &__checkbox {
    display: none;
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 6rem;
    width: 6rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;

    span {
      height: 2px;
      width: 3rem;
      background-color: rgba(0, 17, 34, 0.719);
      transition: all 0.3s;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
    opacity: 0;
    visibility: hidden;

    @media only screen and (max-width: 850px) {
      opacity: 1;
      visibility: visible;
    }
  }

  &__checkbox:checked ~ &__btn span:nth-child(2) {
    opacity: 0;
  }

  &__checkbox:checked ~ &__btn span:nth-child(1) {
    transform: rotate(405deg) translate(0.5rem, 0.5rem);
  }

  &__checkbox:checked ~ &__btn span:nth-child(3) {
    transform: rotate(-405deg) translate(0.4rem, -0.3rem);
  }

  &__item {
    display: inline-block;
    margin-left: 3rem;
    font-size: 2rem;

    @media only screen and (max-width: 850px) {
      display: none;
    }
  }

  &__checkbox:checked ~ &__item {
    display: block;
    background-color: rgba(255, 166, 0, 0.88);
    padding: 1rem 2rem;
    margin-left: 0;
    transform: translate(3.5rem, 8rem);
    text-align: center;
    cursor: pointer;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding-bottom: 0.5rem;
    transition: all 0.3s;

    &:hover {
      border-bottom: 2px double $color-secondary;
      transform: scale(1.2) skew(-5deg);

      @media only screen and (max-width: 850px) {
        border-bottom: none;
      }
    }

    &:active {
      transform: scale(0.8);
    }
  }
}

.img {
  &__container {
    position: absolute;
    top: 36%;
    right: 8rem;
    height: 30rem;
    width: 45rem;
    border: 1rem solid $color-secondary;
    border-radius: 2rem;
    overflow: hidden;

    @media only screen and (max-width: 850px) {
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
    }
    @media only screen and (min-width: 1500px) {
      right: 14rem;
    }
    @media only screen and (max-width: 850px) {
      top: 68%;
    }
  }

  &__photo {
    position: absolute;
    height: 100%;
    width: 100%;

    &-1 {
      position: absolute;
      z-index: 3;
      -webkit-animation: animate 6s linear infinite;
      animation: animate 6s linear infinite;
    }
    &-2 {
      position: absolute;
      z-index: 2;
      -webkit-animation: animate2 6s linear infinite;
      animation: animate2 6s linear infinite;
    }
    &-3 {
      position: absolute;
      z-index: 1;
    }
  }
}

@keyframes animate {
  0%,
  33% {
    z-index: 3;
  }
  34%,
  66% {
    z-index: 2;
  }
  67%,
  100% {
    z-index: 1;
  }
}

@keyframes animate2 {
  0%,
  66% {
    z-index: 2;
  }
  67%,
  100% {
    z-index: 1;
    transform: scale(1);
  }
}

.copyright {
  position: absolute;
  bottom: 5%;
  left: 8rem;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.238);

  @media only screen and (max-width: 850px) {
    transform: rotate(-90deg) translate(20rem, -5rem);
    transform-origin: left bottom;
  }
}
